server:
  port: 0

spring:
  application:
    name: inventory-service

  r2dbc:
    url: r2dbc:postgresql://postgres:5432/inventory
    username: postgres
    password: postgres

  kafka:
    bootstrap-servers: kafka:9092

eureka:
  client:
    service-url:                 # <-- dùng kebab-case, không phải serviceUrl
      defaultZone: http://eureka-server:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
