server:
  port: 8762

spring:
  application:
    name: EUREKA-SERVER

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

  server:
    enable-self-preservation: false # cho môi trường dev
