server:
  port: 8761

spring:
  application:
    name: eureka-server
  profiles:
    active: dev

eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka
  environment: dev
  datacenter: default

management:
  endpoints:
    web:
      exposure:
        include: health,info
